<html>
    <head>
        <title>TL4: Crafting</title>
        <link rel = "stylesheet" href = "../public/main.css">
        <link rel = "icon" href = "icon.png">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <meta charset = "utf-8">
    </head>
    <body>
        <div id = "topbar">
            <h1>BIBS·C Tech Tools</h1>
        </div> 
        <div id = "navbar">
            <ul id = "nav">
                <a href = "/"><li>Home</li><div class = "underline"></div></a>
                <a href = "/tl1"><li>Knowing (TL1)</li><div class = "underline"></div></a>
                <a href = "/tl2"><li>Strategies (TL2)</li><div class = "underline"></div></a>
                <a href = "/tl3"><li>Evidence (TL3)</li><div class = "underline"></div></a>
                <a href = "/tl4"><li>Crafting (TL4)</li><div class = "underline"></div></a>       
            </ul>           
        </div>
        <div id = "subhead">
            <h1 id="test">TL4: Crafting the Curriculum</h1>
            
        </div>

        <div id = "bar">&nbsp;</div>
        
        <div>
            
        </div>
        <div id = "all">
            <div>
                <form class = "filters" method = "post" action='/tl3'>
                    <span class = "n1">Strand 1 <input type = "checkbox" name = "s1" class = "checkf" value = "1"></span>
                    <span class = "n2">Strand 2 <input type = "checkbox" name = "s2" class = "checkf" value = "1"></span>
                    <span class = "n3">Strand 3 <input type = "checkbox" name = "s3" class = "checkf" value = "1"></span>
                    <span class = "n4">Strand 4 <input type = "checkbox" name = "s4" class = "checkf" value = "1"></span>
                    <button type="submit" name="filter" >Filter by strand</button>
                </form>
    
                <form action="/tl3/:query" method="get">
                    <input type="text" name="query" placeholder="Search">
                    <input type="submit" value="Submit">
                </form>
            </div>
            
            <%# <h1>TL3: Evidence</h1> %>                
            <br>    
            <div class = "techtip-wrap">

                <% if(content[0].length==0){ %>
                    <div>
                        <h4>There is nothing here</h4>
                    </div>
                <% } else { %>

                <% for(let i=0; i<content[0].length; i++){ %>

                <% if((content[1][i]["RTE"]&&checked[0])||(content[1][i]["DLoI"]&&checked[1])||(content[1][i]["RaAoC"]&&checked[2])){ %>

                <div class = "techtip">
                    <h3 class="name"><%= content[0][i]["techname"] %></h3>
                    <div class = "tags">
                        <% if(content[1][i]["RTE"]){ %>
                            <span class = "n1">Relationships</span>
                        <% } %>
                        <% if(content[1][i]["DLoI"]){ %>
                            <span class = "n2">Teacher Planning</span>
                        <% } %>
                        <% if(content[1][i]["RaAoC"]){ %>
                            <span class = "n3">Modify their Teaching</span>
                        <% } %>
                    </div>
                    <div class = "info">
                        <div class = "img"><img src = "/testuploads/<%=i+1%>.png"></div>
                        <div class = "desc"><%= content[0][i]["description"] %></div>
                        <div class = "link">
                            <ul>
                                <li><a href = "<%= content[0][i]["link"] %>"><%= content[0][i]["displaytext"] %></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class = "line"></div>
                </div>
                <% } %> 
                <% } %>
                <% } %>
            </div>
        </div>
        <button onclick='window.scrollTo({top: 0, behavior: "smooth"});' id="topbutton" title="Go to top">Top</button>

        <script type = "text/javascript">   
            function $(x){
                return document.getElementById(x);
            }
            // Get the button:
            window.addEventListener("scroll", scroll);
            function scroll() {
                if(document.body.scrollTop > $("bar").offsetTop || document.documentElement.scrollTop > $("bar").offsetTop){
                    $("topbutton").style.display = "block";
                } 
                else{
                    $("topbutton").style.display = "none";
                }
            }

            var filters = document.querySelectorAll('.checkf');
            <%for(var i = 0; i < checked.length; i++){ %>
                console.log("<%=checked[i]%>")
                filters[<%=i%>].checked = <%=checked[i];%>
            <%}%>

           

            // function Search(input){
               
            //     const items = document.querySelectorAll('.name');
            //     //user's search query
            //     const target = input.value.toLowerCase();
                
            //     // Filter through the list of items and display only the ones that match the search query
            //     //for (let i : items){

            //     //}
            //     items.forEach(item => {
            //         console.log(item.innerHTML);
            //         const itemText = item.textContent.toLowerCase();
            //         if (itemText.includes(target)) {
            //             item.style.display = "block";
            //         } 
            //         else {
            //             item.style.display = "none";
            //         }
            //     });
            // }

        </script>
    </body>
</html>